*{
    padding: 0px;
    margin: 0px;
}
.container{
    display: flex;
    justify-content: center;
    grid-template-columns: 2fr 4fr;
}
.borde1{
    display: grid;
    text-align: center;
    border: 2px solid black;
    padding: 5px;
    justify-content: center;
}

img{
    height: 140px;
    margin-bottom: 5px;
}

button{
    padding: 5px;
    background-color: rgb(40, 72, 178);
    color: white;
}

.sticker2{
    border: black 2px solid;
    display: grid;
    
}

#segundo-problema{
    text-align: center;
    padding: 5px;
    
}
.stickes{
    display: flex;
    text-align: center;
    margin: 5px 0px;
}

.stickers1, .stickers2, .stickers3{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sticker1, #sticker2, #sticker3{
    width: 50px;
}
.contraseña3{
    border: solid 2px black;
    padding: 20px;
    text-align: center;
}
#selector1, #selector2, #selector3{
    height: 25px;
    width: 50px;   
}

.borde1, .sticker2, .contraseña3{
    margin: 10px;
    background-color: azure;
}